<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">

<th:block layout:fragment="content">
    <link href="/static/css/sales.css" rel="stylesheet">
    <div class="container" id="container">

        <div class="loading-wrap">
            <div class="loading">
                <img src="/static/image/loading.gif" alt="로딩중" />
            </div>
        </div>

        <!-- /.panel-heading -->
        <div class="row">
            <div style="padding:5px" class="panel-body">
                <h3 class=""><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span> 상품주문 순위</h3>
                <ul class="">
                    <li>상품주문 순위입니다.최대 50까지만 표시 됩니다.</li>
                    <li>검색기간은 최대 1개월로 단위로 설정하여 조회하셔야 합니다.</li>
                    <%-- <li><span style="color:blue">할인쿠폰, 마일리지, 상품할인쿠폰, 교환차액은 정산에 포함되지 않습니다.(정산금액에서 빠집니다.)</span></li> --%>
                </ul>
            </div>

            <div class="panel bs-callout-sub bs-callout-primary">
                <div class="panel-body" >
                    <form id="frm" name="frm" class="form-inline">
                        <label>검색기간&nbsp;:&nbsp;</label>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control datepicker" name="searchStartDate" id="searchStartDate" readonly="readonly" onchange="javascript:chgDate(this.value);" />
                            <label for="searchStartDate" class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></label>
                        </div>
                        <label>&nbsp;~&nbsp;</label>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control datepicker" name="searchEndDate" id="searchEndDate" readonly="readonly" onchange="javascript:chgDate(this.value);" />
                            <label for="searchEndDate" class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></label>
                        </div>
                        <div class="input-group input-group-sm">&nbsp;&nbsp;&nbsp;</div>
                        <div class="input-group input-group-sm">
                            <button type="button" class="btn btn-primary btn_search" id="searchRank">검색</button>
                            <!-- <button type="button" class="btn btn-primary btn_search_tatal">합계</button> -->
                        </div>
                    </form>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body" id="data_body">

                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 순위</td>
                        </tr>
                        <tr>
                            <td height="10"></td>
                        </tr>
                        <tr>
                            <td>
                                <table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#ffffff">
                                    <tr>
                                        <td height="2" bgcolor="509a9b"></td>
                                    </tr>
                                </table>

                                <table width="100%" border="0" cellpadding="6" cellspacing="1" bgcolor="#ffffff" class="table table-bordered">
                                    <tr>
                                        <td width="110"  bgcolor="337AB7" class="admin_tabletop" align="center">순위</td>
                                        <td align="center" bgcolor="337AB7" class="admin_tabletop">상품명</td>
                                        <td width="160"  align="center" bgcolor="337AB7" class="admin_tabletop">출판/배급사</td>
                                        <td width="120"  align="center" bgcolor="337AB7" class="admin_tabletop">상품코드</td>
                                        <td width="110"  align="center" bgcolor="337AB7" class="admin_tabletop">주문수량</td>
                                        <td width="110"  align="center" bgcolor="337AB7" class="admin_tabletop">주문금액</td>
                                    </tr>


                                </table>

                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>